*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    flex-direction: column;
}
.tbl{
    width: 100vw;
    margin: 20px;
}
table{
    border: 2px solid black;
}
th,td{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
button{
    width: 200px;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}
.detail{
    padding: 5px;
    margin-top: 10px;
}
@media screen and (max-width:400px) {
    table{
        width: 100px;
    }
    th,td{
        padding: 0px;
    }
}
